<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Time_Sheet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Time_Sheet.My.MySettings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Time_Sheet.My.MySettings>
            <setting name="LanguageEnFa" serializeAs="String">
                <value>idPer=آی دی پرسنل
tarikh=مورخه
TimeEnd=زمان پایان
TimeLen=طول زمان
TimeStart=زمان شروع
ID=آیدی
idArea=آیدی ناحیه
idPerSarparast
idPerZirGroh
idWork
address=آدرس
code=کد
famil=فامیل
fName=نام
remark=توضیحات
sel=
semat=سمت
tel=تلفن
SettingBy=تنظیم کننده
WorkType=نوع فعالیت
Area=ناحیه
Sarparast=سرپرست
ZirGroh=زیرگروه</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>
ID
idPer
tarikh
TimeEnd
TimeLen
TimeStart
idArea
idPerSarparast
idPerZirGroh
idWork
address
code
famil
fName
remark
sel
semat
tel</value>
            </setting>
        </Time_Sheet.My.MySettings>
    </userSettings>
</configuration>
